<!doctype html>
<html>
<!-- link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" -->

  <head>
    <hr style= "height: 2px; background-color: #191970;">
    <h1 class="title"> Regression </h1>
    <hr style= "height: 2px; background-color: #191970;">
  </head>

  <body>
    <div class="mb-3">
        <!-- 
        col1: Sex
        col2: Length
        col3: Diameter
        col4: Height
        col5: Whole weight
        col6: Shucked weight
        col7: Viscera weight
        col8: Shell weight
        -->

        <form action="{{ url_for('regression.result') }}" method="post">
            Sex: <select name="col1">
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="I">I</option>
                  </select><br>
            Length: <input type="number" step = 0.0001 name="col2"><br>
            Diameter: <input type="number" step = 0.0001 name="col3"><br>
            Height: <input type="number" step = 0.0001 name="col4"><br>
            Whole weight: <input type="number" step = 0.0001 name="col5"><br>
            Shucked weight: <input type="number" step = 0.0001 name="col6"><br>
            Viscera weight: <input type="number" step = 0.0001 name="col7"><br>
            Shell weight: <input type="number" step = 0.0001 name="col8"><br>
            <input type='submit' value='submit'>
        </form>
    </div>

  </body>
