<!doctype html>
<html>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <head>
  </head>

  <body>
    <hr style= "height: 2px; background-color: #191970;">
    <h1 class="title"> Multi Results log </h1>
    <hr style= "height: 2px; background-color: #191970;">

<!--
  col1: X_Minimum
  col2: X_Maximum
  col3: Y_Minimum
  col4: Y_Maximum
  col5: Pixels_Areas
  col6: X_Perimeter
  col7: Y_Perimeter
  col8: Sum_of_Luminosity
  col9: Minimum_of_Luminosity
  col10: Maximum_of_Luminosity
  col11: Length_of_Conveyer
  col12: TypeOfSteel_A300
  col13: TypeOfSteel_A400
  col14: Steel_Plate_Thickness
  col15: Edges_Index
  col16: Empty_Index
  col17: Square_Index
  col18: Outside_X_Index
  col19: Edges_X_Index
  col20: Edges_Y_Index
  col21: Outside_Global_Index
  col22: LogOfAreas
  col23: Log_X_Index
  col24: Log_Y_Index
  col25: Orientation_Index
  col26: Luminosity_Index
  col27: SigmoidOfAreas -->

    <body>
        <div>
            <ul>
                <li>col1: X_Minimum</li>
                <li>col2: X_Maximum</li>
                <li>col3: Y_Minimum</li>
                <li>col4: Y_Maximum</li>
                <li>col5: Pixels_Areas</li>
                <li>col6: X_Perimeter</li>
                <li>col7: Y_Perimeter</li>
                <li>col8: Sum_of_Luminosity</li>
                <li>col9: Minimum_of_Luminosity</li>
                <li>col10: Maximum_of_Luminosity</li>
                <li>col11: Length_of_Conveyer</li>
                <li>col12: TypeOfSteel_A300</li>
                <li>col13: TypeOfSteel_A400</li>
                <li>col14: Steel_Plate_Thickness</li>
                <li>col15: Edges_Index</li>
                <li>col16: Empty_Index</li>
                <li>col17: Square_Index</li>
                <li>col18: Outside_X_Index</li>
                <li>col19: Edges_X_Index</li>
                <li>col20: Edges_Y_Index</li>
                <li>col21: Outside_Global_Index</li>
                <li>col22: LogOfAreas</li>
                <li>col23: Log_X_Index</li>
                <li>col24: Log_Y_Index</li>
                <li>col25: Orientation_Index</li>
                <li>col26: Luminosity_Index</li>
                <li>col27: SigmoidOfAreas</li>
            </ul>
            <table>
                <form action="{{ url_for('multi.delete') }}" method="POST">
                <thead>
                <tr text-align='center'>
                    <th>select</th>
                    <td><B>Id</B></td>
                    <td><B>DATE</B></td>
                    <td><B>RESULT</B></td>
                    <td><b>col1</b></td>
                    <td><b>col2</b></td>
                    <td><b>col3</b></td>
                    <td><b>col4</b></td>
                    <td><b>col5</b></td>
                    <td><b>col6</b></td>
                    <td><b>col7</b></td>
                    <td><b>col8</b></td>
                    <td><b>col9</b></td>
                    <td><b>col10</b></td>
                    <td><b>col11</b></td>
                    <td><b>col12</b></td>
                    <td><b>col13</b></td>
                    <td><b>col14</b></td>
                    <td><b>col15</b></td>
                    <td><b>col16</b></td>
                    <td><b>col17</b></td>
                    <td><b>col18</b></td>
                    <td><b>col19</b></td>
                    <td><b>col20</b></td>
                    <td><b>col21</b></td>
                    <td><b>col22</b></td>
                    <td><b>col23</b></td>
                    <td><b>col24</b></td>
                    <td><b>col25</b></td>
                    <td><b>col26</b></td>
                    <td><b>col27</b></td>
                </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            <td><input type="checkbox" name="ids" value="{{ result[0] }}"></td>
                            <td>{{ result[0] }}</td>
                            <td>{{ result[1] }}</td>
                            <td>{{ result[2] }}</td>
                            <td>{{ result[3] }}</td>
                            <td>{{ result[4] }}</td>
                            <td>{{ result[5] }}</td>
                            <td>{{ result[6] }}</td>
                            <td>{{ result[7] }}</td>
                            <td>{{ result[8] }}</td>
                            <td>{{ result[9] }}</td>
                            <td>{{ result[10] }}</td>
                            <td>{{ result[11] }}</td>
                            <td>{{ result[12] }}</td>
                            <td>{{ result[13] }}</td>
                            <td>{{ result[14] }}</td>
                            <td>{{ result[15] }}</td>
                            <td>{{ result[16] }}</td>
                            <td>{{ result[17] }}</td>
                            <td>{{ result[18] }}</td>
                            <td>{{ result[19] }}</td>
                            <td>{{ result[20] }}</td>
                            <td>{{ result[21] }}</td>
                            <td>{{ result[22] }}</td>
                            <td>{{ result[23] }}</td>
                            <td>{{ result[24] }}</td>
                            <td>{{ result[25] }}</td>
                            <td>{{ result[26] }}</td>
                            <td>{{ result[27] }}</td>
                            <td>{{ result[28] }}</td>
                            <td>{{ result[29] }}</td>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
            <br>
            <input type="submit" value="선택 ID 삭제" class='button3'>
        </form>
        <br>
        <h3>* log file download</h3>
        <a href="{{ url_for('multi.log_file') }}" method="GET">log file</a></p>
        </div>
        <div style="button1">
            <button class="button2" type="button" onClick="location.href='../multi'"> go back </button>
            <button class="button2" type="button" onClick="location.href='../../'"> go main page </button>
        </div>
        </body>
</html>