<!doctype html>
<html>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <body>

    <hr style= "height: 2px; background-color: #191970;">
    <h1 class="title"> Main Page </h1>
    <hr style= "height: 2px; background-color: #191970;"><br><br><br>

    <div style="button1">
      <button type="button" onClick="location.href='regression'" class='button1'> regression </button><br>
      <button type="button" onClick="location.href='binary'" class='button1'> binary classification </button><br>
      <button type="button" onClick="location.href='multi'" class='button1'> multi calssification </button>
    </div>
  </body>