<!doctype html>
<html>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

  <body>

    <hr style= "height: 2px; background-color: #191970;">
    <h1 class="title"> Main Page </h1>
    <hr style= "height: 2px; background-color: #191970;"><br><br><br>

    <div class="button_left">
      <br>
      <button type="button" onClick="location.href='regression'" class='button_main'> Regression: Abalone Age Prediction </button><br>
      <button type="button" onClick="location.href='binary'" class='button_main'> Binary classification: Pulsar Star Classification </button><br>
      <button type="button" onClick="location.href='multi'" class='button_main'> multi calssification: : Faulty Steel Plates Classification </button>
    </div>
    <div class="updown"></div>
    <div class='button_right'>
      <br>
      <h2>Regression: Abalone Age Prediction</h2>
        <p>Regression 항목은 전복의 나이(Rings+1.5)를 예측하는 선형회귀 모델입니다.<br>Model: DNN</p>
      <h2>Binary Classification: Pulsar Star Classification</h2>
        <p>Binary 항목은 중성자별을 구분하는 이진 분류 모델입니다.<br>Model: MDNN</p>
      <h2>Multi Classification: Faulty Steel Plates Classification</h2>
        <p>Multi Classification 항목은 스테인리스 강판의 표면 결합 유형을 구분하는 다중 분류 모델입니다.<br>
          Model: MDNN</p>
  </body>